body {
    margin: 0;
    padding: 0;
      background: #bcb3ff;
    padding-top: 0;
    margin-top: 0%;
  }
  
  
  
  #navbar {
    overflow: hidden;
    background-color: #0010f3;
  }
  
  
  #navbar a {
    float: right;
    display: block;
    color: #bcb3ff;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    font-family: "Sawarabi Gothic";
  font-size: 18px;
  }
  
  #navbar a:hover {
    background-color: #c9ff68;
    color: #4c2deb;
  
  }
  
  #navbar a.active {
    color: #eebdf7;
    
  }
  
  
  * {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    font-family: "Sawarabi Gothic";
    /* outline: solid 1px rgba(0,0,0,.4); */
  }
  h2{
    font-size: 70px;
    font-family:"Quatro Black";
    color: #0010f3;
  }

  h2:hover{
    color: #c9ff68;
    font-size: 90px;

  }
  
.students{
  color: #0010f3;
  font-size: 70px;
}

.students:hover{
  color: #c9ff68;
    font-size: 90px;
}

.students:hover:active{
  color: #eebdf7;
    font-size: 90px;
}

.footer {
 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0010f3;
  text-align: center;
}